<!DOCTYPE html>
<html lang="en">
<head>
  <title>Create</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="./style-create.css">
</head>
<body background="/res/img/background.jpg">

<div class="container">
  <h3>Create a Room to start playing with your friends :D</h3>
  <ul class="nav nav-tabs">
    <li><a href="/search/search.html">Search</a></li>
    <li class="active"><a href="#">Create Room</a></li>
  </ul>
  <div class="">
    <form class="form-create" action="javascript:create()" >
      <input type="text" id="to_create" placeholder="Text a cool room name..." required style="margin: 10px; width: 40%; border: 1px solid #4b4949;">
      <input type="submit" class="btn" value="Create!">
      <p id="error"></p>
    </form>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/create/create.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
