*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body {
    background: #cefce7;
    display: flex;
    min-height: 100vh;

}

.formulari {
    margin: auto;
    width: 50%;
    max-width: 400px;
    background: #6fe4af;
    padding: 15px;
    border: 1px solid #7a7a7a;

}

h2{
    text-align: center;
    margin-bottom: 20px;
    color:  #0c5932;
}

.form-group {
    <!-- display: block; -->
    padding: 15px;
    width: 100%;
    margin: 30px 0;
    <!-- font-size: 20px; -->

}



.btn_log {
    text-align: center;
    margin-left: 35%;
    width: 28%;
    cursor: pointer;
    background: #f4ebbe;
    border: 1px solid #454545;

}

.btn_log:hover{
    background: #454545;
    color: white;
}


@media (max-width: 600px) {
    form{
        width: 75%;
    }
}

@media (max-width: 400px) {
    form{
        width: 95%;
    }
}
