.main-div{
    text-align: center;
    margin: auto;
    margin-top: 10%;
    width: 70%;
    max-width: 400px;
    background: #cdc7c7;
    padding: 15px;
    border: 1px solid #4b4949;
}

h3{
    color:  #454545;
}
p {
    color: #383838;
}
.btn{
    cursor: pointer;
    background: #f5db54;
    border: 1px solid #454545;
    margin-bottom: 15px;

}
.btn:hover{
    background: #454545;
    color:  #f5db54;
}
