<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="style-game.css">
  </head>
  <body background="../imgs/background.jpg">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <div class="main-div"
    style="width: 60%;
    height: 30%;">
      <h3>Don't lie... </h3>
      <br>
      <br>
      <p id="game-id"></p>
        <script>
          function randomNumber(min,max){
            return Math.random()*(max-min)+min;
          };

          var jsoname = [
            { id: '1', name: 'user1' },
            { id: '1', name: 'user2' },
            { id: '1', name: 'user3' },
            { id: '1', name: 'user4' }
          ];

          var jsonquest = [
            { id: '1', quest: 'user1' },
            { id: '1', quest: 'user2' },
            { id: '1', quest: 'user3' },
            { id: '1', quest: 'user4' }
          ];

          var i     = randomNumber(0,jsoname.length-1);
          var j     = randomNumber(0,jsonquest.length-1);
              i     = Math.floor(i);
              j     = Math.floor(j);
          var html  = jsoname[i].name + ': <br>' + jsonquest[j].quest;
          $('#game-id').append(html);
        </script>
      <br>
      <br>
      <input type="submit" class="btn" onclick="update()"  value="Ask me!">
      <script>
        function update() {
        $('#game-id').empty();
        var i     = randomNumber(0,jsoname.length-1);
        var j     = randomNumber(0,jsonquest.length-1);
            i     = Math.floor(i);
            j     = Math.floor(j);
        var html  = jsoname[i].name + ': <br>' + jsonquest[j].quest;
        $('#game-id').append(html);

        }
      </script>
    </div>
  </body>
</html>
